#passwordfrm_mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 900;
	width: 100%; height: 100%;
	opacity: 0.7;
}

.password-popupbox{
	display:none;
	background: #ffffff;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 901;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

.password-popupbox img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

.password-popupbox fieldset { 
	border:none; 
}

.password-popupbox .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

.password-popupbox .textbox span { 
	display:block;
}

.password-popupbox p, form.passwordfrm span {
	color:#000000;
	font-size:11px;
	line-height:16px;
}

.password-popupbox .textbox input { 
	background:#666666; 
	border-bottom:1px solid #ffffff;
	border-left:1px solid #000;
	border-right:1px solid #ffffff;
	border-top:1px solid #000;
	color:#fff; 
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font:10px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

.password-popupbox input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
.password-popupbox input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.password-popupbox .button { 
	background: -moz-linear-gradient(center top, #dddddd, #f3f3f3);
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#f3f3f3));
	background:  -o-linear-gradient(top, #dddddd, #f3f3f3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#f3f3f3');
	border-color:#000; 
	border-width:1px;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#000000;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}

.password-popupbox .button:hover { background:#bbb; }