.mainmenu_item {
	margin: 0;
	padding: 0;
	z-index: 30
}
.mainmenu_item li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 12px arial;
	background:url(divider.gif);
}
.mainmenu_item li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 6px 12px;
	color: #FFF;
	text-align: center;
	text-decoration: none
}
.mainmenu_item li a:hover {
	background: #772432;
}
.mainmenu_item div {
	position: absolute;
	visibility: hidden;
	padding: 0;
	background: #CCCCCC;
	border: 1px solid #772432;
}
.mainmenu_item div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #CCCCCC;
	color: #772432;
	font: 11px arial;
}
.mainmenu_item div a:hover {
	background: #772432;
	color: #FFFFFF;
}
.mainmenu_nav {
	overflow: visible;
	visibility: visible;
	position: relative;
	float: left;
	border-style:solid;
	border-width:0px;
	left:5px;
}

.topmenu_item {
	margin: 0;
	padding: 0;
	z-index: 30
}
.topmenu_item li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
}
.topmenu_item li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 6px 12px;
	color: #FFF;
	text-align: center;
	text-decoration: none
}
.topmenu_item li a:hover {
	background: #244977;	
}
.topmenu_item div {
	position: absolute;
	visibility: hidden;
	padding: 0;
	background: #CCCCCC;
	border: 1px solid #244977;
	left:-20px;
}
.topmenu_item div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	color: #244977;
	font: 12px arial;
}
.topmenu_item div a:hover {
	background: #244977;
	color: #FFFFFF;
}
.topmenu_nav {
	overflow: visible;
	visibility: visible;
	position: relative;
	float: right;
	border-style:solid;
	border-width:0px;
	left:5px;
	background:none;
}

